<app-modal [deskNum]="confService.CashRegisters"></app-modal>
<a routerLink="/home" class="menu"></a>
<main class="body">
  <div class="playground">
    <div
      *ngFor="let client of clients"
      [ngStyle]="getClientStyle(client)"
      class="client"></div>

    <div [ngStyle]="getCashDeskStyle(reserveCashDesk)" class="cash-desk"></div>

    <div *ngIf="activeCashDesks.length < confService.CashRegisters">
      <div
        *ngFor="let place of deskPlaces" 
        [ngStyle]="getCashPlaceStyle(place)"
        (click)="onPlaceClick(place.id)"></div>
    </div>

    <div *ngIf="activeCashDesks.length >= confService.CashRegisters">
      <div
        *ngFor="let cashDesk of activeCashDesks"
        [ngStyle]="getCashDeskStyle(cashDesk)"
        class="cash-desk"></div>
      <div
        *ngFor="let entry of activeEntries"
        [ngStyle]="getEntryStyle(entry)"
        class="entries"></div>
    </div>
  </div>

  <div class="train-container">
    <div class="platform">
      <div class="clock clock-top"></div>
      <div class="clock clock-bottom"></div>
    </div>
    <div class="rails-container">
      <div class="train train-animation train-left"></div>
      <div class="rails rails-left"></div>
      <div
        class="train train-animation train-animation-delay train-right"></div>
      <div class="rails rails-right"></div>
      <div class="traffic-light traffic-light-top"></div>
      <div class="traffic-light traffic-light-bottom"></div>
    </div>
  </div>

  <div class="decorative-elements">
    <img class="bottom" src="../../../assets/images/bottom.png" alt="" />
    <img class="luggage" src="../../../assets/images/luggage.png" alt="" />
    <img class="cafe" src="../../../assets/images/cafe.png" alt="" />
    <img class="taxi" src="../../../assets/images/taxi.png" alt="" />
  </div>

  <app-log></app-log>
</main>
