.body {
  background-image: url('../../../../assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.train-container {
  position: absolute;
  right: 0;
  width: 17rem;
  height: 100vh;
  display: flex;
}

.platform {
  background-color: #8b8a8a;
  width: 100%;
  height: 100vh;
  flex: 1.5;
}

.rails-container {
  flex: 4;
  position: relative;
  padding: 0px 10px 0 10px;
  width: 100%;
  height: 100vh;
}

.train {
  background-image: url('../../../../assets/images/train/train.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -420px;
  width: 60px;
  height: 250px; // have to be the same as -top position
  z-index: 2;
}

.train-right {
  right: 10px;
}

.train-left {
  left: 10px;
}

.train-animation {
  opacity: 0;
  animation: moveDiagonalWithDelay 20s ease-in-out infinite;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.train-animation-delay {
  animation-delay: 7s;
}

@keyframes moveDiagonalWithDelay {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  5% {
    opacity: 1;
  }
  35% {
    transform: translate(0, 150vh);
    opacity: 1;
  }
  100% {
    transform: translate(0, 150vh); // Hold position for the delay
    opacity: 1;
  }
}

.rails {
  background-size: contain;
  height: 100%;
  background-image: url('../../../../assets/images/train/rails.png');
  width: 30%;
  position: absolute;
}

.rails-left {
  left: 10px;
}

.rails-right {
  right: 10px;
}

.traffic-light {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/images/train/traffic-light.png');
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.traffic-light-top {
  top: 5%;
}

.traffic-light-bottom {
  bottom: 3%;
}

.clock {
  background-image: url('../../../../assets/images/train/clock.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  position: absolute;
}

.clock-top {
  top: 10%;
}

.clock-bottom {
  bottom: 30%;
}
