<main class="body">
  <div class="train-container">
    <div class="platform">
      <div class="clock clock-top"></div>
      <div class="clock clock-bottom"></div>
    </div>
    <div class="rails-container">
      <div class="train train-animation train-left"></div>
      <div class="rails rails-left"></div>
      <div
        class="train train-animation train-animation-delay train-right"></div>
      <div class="rails rails-right"></div>
      <div class="traffic-light traffic-light-top"></div>
      <div class="traffic-light traffic-light-bottom"></div>
    </div>
  </div>
</main>
